.comunication {
  padding: 5rem 0;

  @media screen and (max-width: 992px) {
    padding: 3rem 0;
  }
  // .comunication__title
  &__title {
    margin-bottom: 5.8rem;
    @media screen and (max-width: 992px) {
      margin-bottom: 2rem;
    }
  }

  // .comunication__table-lg
  &__table {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-bottom: 2rem;

    @media screen and (max-width: 992px) {
      gap: .8rem;
      margin-bottom: .8rem;
    }


    &:last-child {
      margin-bottom: 0;
    }

    &_sm {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  // .comunication__item
  &__item {
    border-radius: 1rem;
    overflow: hidden;
    transition: .7s;

    &:hover {
      transform: scale(1.1);
    }

    @media screen and (max-width: 992px) {
      border-radius: .4rem;
    }

    img {
      width: 100%;
    }
  }

  // .comunication__table-sm
}
