@import "../../../../../../assets/styles/colors";

.type-item {
  padding: 1.75rem;
  display: flex;
  //height: 100%;
  gap: 2rem;
  justify-content: space-between;

  @media screen and (max-width: 992px) {
    gap: .5rem 1rem;
    height: 100%;
  }

  // .type-item_{{index}}
  &_1 {
    background-color: #FFD3CC;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &_2 {
    background-color: #DEDEDE;
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  &_3 {
    background-color: $lightBack;
    flex-direction: row-reverse;

    .type-item__row {
      flex-direction: column-reverse;
      align-items: flex-start;
    }
  }

  &_4 {
    background-color: $lightBack;
    flex-direction: column-reverse;
  }

  &_5 {
    background-color: $lightBack;

    .type-item__row {
      flex-direction: column !important;
      align-items: flex-start;
      row-gap: .6rem;
    }
  }

  &__default {
    @media screen and (max-width: 992px) {
      display: flex;
      flex-direction: column;
      padding: 1rem;

      .type-item__row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

    }
  }

  // .type-item__image
  &__image {
    @media screen and (max-width: 992px) {
      height: 11.5rem;
      margin-bottom: 1rem;
    }

    img {
      width: 100%;

      @media screen and (max-width: 992px) {
        height: 100%;
        object-fit: contain;
      }
    }
  }

  // .type-item__row
  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  // .type-item__title
  &__title {
    font-size: 1.5rem;
    font-weight: 500;

    @media screen and (max-width: 992px) {
      font-size: 1.25rem;
      align-self: flex-start;
    }
  }

  // .type-item__icon
  &__icon {
    max-width: 3.75rem;

    @media screen and (max-width: 992px) {
      max-width: 2.5rem;
      align-self: flex-end;
    }

    img {
      width: 100%;
    }
  }

  // .type-item__small
  &__small {
  }
}
