<footer class="footer">
  <nav class="footer__row">
    <ul class="footer__menu">
      <li><a href="#">Главная</a></li>
      <li><a href="#">Проекты</a></li>
      <li><a href="#">Контакты</a></li>
    </ul>
    <div class="footer__social">
      <a href="#" (mouseenter)="tlgMouseIn=true" (mouseleave)="tlgMouseIn=false">
        <z-telegram-icon [active]="tlgMouseIn"/>
        <span>Telegram</span>
      </a>
      <a href="#" (mouseenter)="vkMouseIn=true" (mouseleave)="vkMouseIn=false">
        <z-vk [active]="vkMouseIn"/>
        <span>VK.com</span>
      </a>

    </div>
  </nav>
  <
  <div class="footer__hr"></div>
  >
  <div class="footer__policy">
    <a href="#">Политика конфиденциальности</a>
    <p>© Copyright, {{actualYear}}</p>
  </div>

</footer>
