@import "../../../../assets/styles/colors";

.scroll-up-btn {
  position: fixed;
  bottom: 3rem;
  right: 3rem;

  width: 3rem;
  height: 3rem;

  background-color: white;
  border-radius: .75rem;
  border: 2px solid #B8BECB;

  transition-duration: .3s;

  @media screen and (max-width: 992px) {
    right: 1rem;
    bottom: 2rem;
  }

  @media screen and (max-width: 639px) {
    right: 1rem;
    bottom: 2rem;
  }

  &:hover {
    background-color: $btn;
    border: 2px solid $btn;

    &::before, &::after {
      background-color: white;
    }
  }

  &::before, &::after {
    content: '';
    width: 30%;
    height: 2px;
    background-color: #B8BECB;
    position: absolute;
    top: 45%;
  }

  &::before {
    transform: rotate(45deg);
    right: 25%;
  }

  &::after {
    transform: rotate(-45deg);
    left: 25%;
  }
}
