<article class="form border">
  <h2 class="form__title"></h2>
  <form action="#" class="form__form">
    <div class="form__row">
      <div class="form__left-info">
        <input type="text" name="name" placeholder="ФИО" class="form__input"/>
        <input type="tel" name="phone" placeholder="Телефон" class="form__input"/>
        <input type="email" name="email" placeholder="E-mail" class="form__input"/>
      </div>
      <textarea placeholder="Комментарий" class="form__text"></textarea>
    </div>
    <div class="form__row">
      <div class="form__personal-data">
        <input type="checkbox" name="" id="personal-data"/>
        <label for="personal-data">
        <span>
          Нажимая на кнопку, вы даёте согласие на
          <a href="">обработку персональных данных</a>
        </span>
        </label>
      </div>

      <button class="form__btn btn">Отправить заявку <span>></span></button>
    </div>

  </form>
</article>
