@import "../../../../../assets/styles/colors";

.works {
  padding: 5rem 0;

  @media screen and (max-width: 992px) {
    padding: 3rem 0;
  }

  &.darkBack {
    background-color: $lightBack;
    @media screen and (max-width: 992px) {
      padding: 3rem 1rem;
    }

    @media screen and (max-width: 992px) {
      .works__tablet {
        grid-template-columns: 1fr;
      }
    }
  }

  // .works__title
  &__title {
    margin-bottom: 5.8rem;

    @media screen and (max-width: 992px) {
      margin-bottom: 2rem;
    }
  }

  // .works__tablet
  &__tablet {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.25rem;

    @media screen and (max-width: 992px) {
      gap: .8rem;
    }
  }

  // .works__item
  &__item {
    overflow: hidden;
    border-radius: 1rem;
    transition-duration: .7s;

    &:hover {
      transform: scale(1.1);
    }

    @media screen and (max-width: 992px) {
      border-radius: .4rem;
    }

    @media screen and (max-width: 639px) {
      border-radius: .7rem;
    }

    img {
      width: 100%;
    }
  }

  &__btn {
    display: block;
    margin: 2rem auto 0;
  }
}
