// Добавляем обнуляющий стиль
@import "assets/styles/normalize.scss";

@import "assets/styles/fonts";

// Добавляем шаблоны цветов
@import "assets/styles/colors.scss";

html {
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
  overflow-x: hidden;
  width: 100vw;
  line-height: 100%;

  font-size: calc(14px + (24 - 14) * ((100vw - 320px) / (1920 - 320)));

  @media screen and (max-width: 992px) {
    font-size: calc(14px + (24 - 14) * ((100vw - 320px) / (768 - 320)));
  }

  &.lock {
    overflow: hidden !important;
  }
}

body {
  font-size: 1rem;
  font-family: 'Inter', serif;
  font-weight: 400;
  padding: 1rem;
  color: $text;
  width: 100vw;

  @media screen and (max-width: 992px) {
    padding: .83rem;
    //overflow-x: hidden;
  }

  @media screen and (max-width: 639px) {
    padding: .7rem;
  }
}

.btn {
  background-color: $btn;
  color: white;
  padding: 1rem 1.5rem;
  font-size: 1rem;
  font-weight: 500;
  border-radius: .6rem;

  transition-duration: .2s;

  &:hover {
    background-color: $btnAct;
  }
}

.title {
  font-size: 2.6rem;
  font-weight: 500;

  @media screen and (max-width: 639px) {
    font-size: 1.7rem;
  }
}

.border {
  border-radius: 2.15rem;

  @media screen and (max-width: 992px) {
    border-radius: 1rem;
  }

  @media screen and (max-width: 639px) {
    border-radius: 1.7rem;
  }

}

.container {
  max-width: 70rem;
  margin: 0 auto;

  @media screen and (max-width: 992px) {
    width: 100%;
  }
}
