.works-lg {
  padding: 5rem 0;

  @media screen and (max-width: 992px) {
    padding: 3rem 0;
  }
  // .works-lg__title
  &__title {
    margin-bottom: 5.8rem;
    @media screen and (max-width: 992px) {
      margin-bottom: 2rem;
    }
  }

  // .works-lg__item
  &__item {
    overflow: hidden;
    margin-bottom: 3rem;

    img {
      width: 100%;
    }


    &:last-child {
      margin-bottom: 0;
    }
  }
}
