@import "../../../../../assets/styles/colors";

.company {

  &__item {
    background-color: $grey;
    display: flex;
    padding: 2rem;
    justify-content: space-between;

    @media screen and (max-width: 992px) {
      padding: 1rem;
    }

    &_back {
      background-color: $lightBack;
    }
  }

  // .company__image
  &__image {
    max-height: 20rem;
    max-width: 20rem;
    @media screen and (max-width: 992px) {
      max-width: 10.5rem;
      display: flex;
      margin-right: 1rem;
    }

    img {
      height: 100%;
      //width: 100%;
      object-fit: contain;

      @media screen and (max-width: 992px) {
        height: auto;
        width: 100%;
        align-items: center;
      }
    }

    &.phone {
      margin-left: 3rem;
      @media screen and (max-width: 992px) {
        margin-left: 0;
      }
    }
  }

  // .company__info
  &__info {
    align-self: center;
    flex: 0 0 50%;
    @media screen and (max-width: 992px) {
      flex: auto;
    }
  }

  // .company__logo
  &__logo {
    margin-bottom: 2rem;
  }

  // .company__title
  &__title {
    margin-bottom: 1rem;

    @media screen and (max-width: 992px) {
      flex: auto;
    }
  }

  // .company__description
  &__description {
    margin-bottom: 2rem;
    max-width: 29rem;
  }
}



